<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
<!--         <div style="text-align: left;"></div> -->
        <div style="text-align: left;"><a href="https://innoviaprobiotics.com/">HOME</a><br /><a href="https://innoviaprobiotics.com/products/digestion-micro-shot-12-pack">SHOP</a><br /><a href="https://innoviaprobiotics.com/pages/nectar-science">NECTAR SCIENCE</a><br /><a href="https://innoviaprobiotics.com/pages/about">ABOUT</a><br /><strong></strong></div>
        <div style="text-align: left;"></div>
        <br />
        <div style="text-align: left;"><br /><a href="https://innoviaprobiotics.com/pages/contact">Customer Care</a><br /></div>
        <div style="text-align: left;"><br /><br /><a href="https://innoviaprobiotics.com/pages/press">PRESS</a><br><a href="https://innoviaprobiotics.com/pages/stories">Blog</a><br /><a href="https://innoviaprobiotics.com/pages/social">Social</a></div>
        <br /><br /><br />
      </div>
    </div>
  </div>
</div>
